#!/bin/bash

set -euo pipefail

OP_VERSION=1.12.3
ARCH={{ .chezmoi.arch }}
FILENAME=op_linux_${ARCH}_v${OP_VERSION}.zip

tempdir=$(mktemp -d)
cleanup() {
	rm -rf ${tempdir}
}
trap cleanup EXIT

cd ${tempdir}
curl -LO https://cache.agilebits.com/dist/1P/op/pkg/v${OP_VERSION}/${FILENAME}
unzip ${FILENAME} op
gpg --receive-keys 3FEF9748469ADBE15DA7CA80AC2D62742012EA22
gpg --verify op.sig op
mkdir -p "${HOME}/.local/bin"
mv op ${HOME}/.local/bin/op
